WEB-TLS/Service References/SVR_Login/SVR_Login2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9902/SVR_Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_TLS" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_TLS" minOccurs="0" name="LoginResult" nillable="true" type="q1:UsuarioLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>