WEB-TLS/Service References/SVR_Login/SVR_Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_TLS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_TLS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioLogin" nillable="true" type="tns:UsuarioLogin" />
</xs:schema>