WEB-TLS/Service References/ProyectosServiceReference/SRV_Proyecto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TLS_Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TLS_Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoDTO" nillable="true" type="tns:ResultadoDTO" />
  <xs:complexType name="ArrayOfProyectoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProyectoDTO" nillable="true" type="tns:ProyectoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyectoDTO" nillable="true" type="tns:ArrayOfProyectoDTO" />
  <xs:complexType name="ProyectoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="aliasCreador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creadoPor" type="xs:int" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="nombreProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoDTO" nillable="true" type="tns:ProyectoDTO" />
  <xs:complexType name="ArrayOfUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioDTO" nillable="true" type="tns:ArrayOfUsuarioDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="ParticipanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="xs:int" />
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idParticipante" type="xs:int" />
      <xs:element minOccurs="0" name="idProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParticipanteDTO" nillable="true" type="tns:ParticipanteDTO" />
  <xs:complexType name="ArrayOfParticipanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParticipanteDTO" nillable="true" type="tns:ParticipanteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipanteDTO" nillable="true" type="tns:ArrayOfParticipanteDTO" />
</xs:schema>