WEB-TLS/Service References/ProyectosServiceReference/SRV_Proyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SRV_Proyecto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9902/SRV_Proyecto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9902/SRV_Proyecto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9902/SRV_Proyecto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TLS_Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISRV_Proyecto_CrearProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProyecto" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_CrearProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_CrearNuevoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_CrearNuevoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarProyectos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarProyectos" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarProyectos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarProyectosResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarUsuariosNoAsignados_InputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuariosNoAsignados" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarUsuariosNoAsignados_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuariosNoAsignadosResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_asignarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:asignarParticipante" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_asignarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:asignarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarParticipantesAsignados_InputMessage">
    <wsdl:part name="parameters" element="tns:listarParticipantesAsignados" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_listarParticipantesAsignados_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarParticipantesAsignadosResponse" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_eliminarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarParticipante" />
  </wsdl:message>
  <wsdl:message name="ISRV_Proyecto_eliminarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarParticipanteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISRV_Proyecto">
    <wsdl:operation name="CrearProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/CrearProyecto" message="tns:ISRV_Proyecto_CrearProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/CrearProyectoResponse" message="tns:ISRV_Proyecto_CrearProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearNuevoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/CrearNuevoProyecto" message="tns:ISRV_Proyecto_CrearNuevoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/CrearNuevoProyectoResponse" message="tns:ISRV_Proyecto_CrearNuevoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarProyectos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarProyectos" message="tns:ISRV_Proyecto_listarProyectos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarProyectosResponse" message="tns:ISRV_Proyecto_listarProyectos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuariosNoAsignados">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarUsuariosNoAsignados" message="tns:ISRV_Proyecto_listarUsuariosNoAsignados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarUsuariosNoAsignadosResponse" message="tns:ISRV_Proyecto_listarUsuariosNoAsignados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="asignarParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/asignarParticipante" message="tns:ISRV_Proyecto_asignarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/asignarParticipanteResponse" message="tns:ISRV_Proyecto_asignarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarParticipantesAsignados">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarParticipantesAsignados" message="tns:ISRV_Proyecto_listarParticipantesAsignados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/listarParticipantesAsignadosResponse" message="tns:ISRV_Proyecto_listarParticipantesAsignados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISRV_Proyecto/eliminarParticipante" message="tns:ISRV_Proyecto_eliminarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISRV_Proyecto/eliminarParticipanteResponse" message="tns:ISRV_Proyecto_eliminarParticipante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISRV_Proyecto" type="tns:ISRV_Proyecto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProyecto">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/CrearProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearNuevoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/CrearNuevoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarProyectos">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/listarProyectos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuariosNoAsignados">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/listarUsuariosNoAsignados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarParticipante">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/asignarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarParticipantesAsignados">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/listarParticipantesAsignados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarParticipante">
      <soap:operation soapAction="http://tempuri.org/ISRV_Proyecto/eliminarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SRV_Proyecto">
    <wsdl:port name="BasicHttpBinding_ISRV_Proyecto" binding="tns:BasicHttpBinding_ISRV_Proyecto">
      <soap:address location="http://localhost:9902/SRV_Proyecto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>