WEB-TLS/Service References/ProyectosServiceReference/SRV_Proyecto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9902/SRV_Proyecto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TLS_Entidades" />
  <xs:element name="CrearProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaC" type="xs:dateTime" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="CrearProyectoResult" nillable="true" type="q1:ResultadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearNuevoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaC" type="xs:dateTime" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearNuevoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="CrearNuevoProyectoResult" nillable="true" type="q2:ResultadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProyectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProyectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="listarProyectosResult" nillable="true" type="q3:ArrayOfProyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarUsuariosNoAsignados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarUsuariosNoAsignadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="listarUsuariosNoAsignadosResult" nillable="true" type="q4:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asignarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="dto" nillable="true" type="q5:ParticipanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asignarParticipanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asignarParticipanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarParticipantesAsignados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarParticipantesAsignadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TLS_Entidades" minOccurs="0" name="listarParticipantesAsignadosResult" nillable="true" type="q6:ArrayOfParticipanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idParticipante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarParticipanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarParticipanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>